{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center">Category Section</h1>
  <h2 class="text-center" style="">{{title}} photos.</h2>
  <hr>      
  <div class="row">            
    <div class="col-m-4">
      <div class="navCate">
        <h3>Location</h3>
        <hr>        
        <a class="btn btn-outline-dark" href="/images/Nairobi"><span class="btn-text">Nairobi</span></a><br>
        <a class="btn btn-outline-dark" href="/images/Nakuru">Nakuru</a><br>
        <a class="btn btn-outline-dark" href="/images/Kalungu">Kalungu</a><br>
        <a class="btn btn-outline-dark" href="/images/Ndola">Ndola</a><br>
        <a class="btn btn-outline-dark" href="/images/Dar-es-Salaam">Dar-es-Salaam</a><br>
        <a class="btn btn-outline-dark" href="/images/Arusha">Arusha</a><br>
      </div>
    </div>
    <div class="col-md-8">
    {% if images %}
      <div class="card-columns">
      {% for image in images %}      
        <div class="card" id="cardImg">                      
          <h4>{{image.image_name}}</h4>          
          <img onclick="onClick(this)" src="{{image.image_url.url}}" class="img254" id="myImg" style="width:250px;height:250px;" alt="<p> <b>Caption:</b> {{image.image_name}}.<br> <b>Description:</b> {{image.description}}<br> <b>Category:</b> {{image.category}}<br> <b>Location:</b> {{image.location}}<br> <b>Posted on:</b> {{image.posted_on}}</p>"><br>                              
          <a href="/copy/{{image.image_url}}">Copy</a>
        </div>           
        <div id="modal01" class="modal" onclick="this.style.display='none'">
          <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <div class="modal-content">
            <img id="img01" style="max-width:400px;max-height:500px">               
          </div>
            <div id="card" class="card bg-light">                
              <div style="float:left" id="description"></div>                
            </div>
        </div>                                                  
        <script>            
          var descriptionText = document.getElementById("description");            
          function onClick(element) {
            document.getElementById("img01").src = element.src;              
            descriptionText.innerHTML = element.alt;
            document.getElementById("modal01").style.display = "block";
          }
        </script>                                   
      {% endfor %}         
      </div>
    {% else %}        
      <h2 style="float:left;margin-top:100px;margin-right:50%" class="alert alert-danger">No images taken in this area</h2>
    {% endif %}
    </div>
  </div>  
</div>
{% endblock content %}
