{% extends 'base.html' %}

{% block content %}
<h1 class="text-center" style="color:lightblue">WELCOME TO G_PYRA</h1>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="wrapper">
        <div class="card">
          <div class="front">
            <h1>Kenya</h1>            
          </div>
          <div class="right">
            <h2>Select Place:</h2>
            <ul>
              <li>Nairobi</li>
              <li>Nakuru</li>
              <li>Mombasa</li>        
            </ul>      
          </div>
        </div>
        <div class="img-wrapper">
            <img src='https://res.cloudinary.com/teepublic/image/private/s--fn6Jb-Iz--/c_crop,x_10,y_10/c_fit,w_404/c_crop,g_north_west,h_1100,w_554,x_-75,y_-328/l_upload:v1452885561:production:blanks:gawvl5gka1pqwssxidw5/fl_layer_apply,g_north_west,x_-436,y_-405/b_rgb:000000/c_limit,f_jpg,h_630,q_90,w_630/v1543123581/production/designs/3571658_0.jpg' width='200px'  height='200px'alt=''>    
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wrapper">
        <div class="card">
          <div class="front">
            <h1>Zambia</h1>            
          </div>
          <div class="right">
            <h2>Select Place:</h2>
            <ul>
              <li>Kalungu</li>
              <li>Ndola</li>              
            </ul>      
          </div>
        </div>
        <div class="img-wrapper">
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/577128/deck.png' alt=''>    
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wrapper">
        <div class="card">
          <div class="front">
            <h1>Tanzania</h1>            
          </div>
          <div class="right">
            <h2>Select Place:</h2>
            <ul>
              <li>Dar-es-Salaam</li>              
              <li>Arusha</li>        
            </ul>      
          </div>
        </div>
        <div class="img-wrapper">
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/577128/deck.png' alt=''>    
        </div>      
      </div>
    </div>
  </div>
</div>




  



{% endblock content %}
