{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <h1>Images for {{title}}</h1>
    <hr>
    {% if images %}
      {% for image in images %}
      <div class="card-columns">
        <div class="card" style="width: 18rem;">
          <img src="{{image.image_url.url}}" class="card-img-top" width="250px" alt="Image">                            
          <div class="card-body">
            <h5 class="card-title">{{image.name}}</h5>
            <p class="card-text">{{image.description}}</p>
            <div class="card-footer">
              <p>{{image.category}}</p>
              <p>{{image.location}}</p>
              <p>{{image.posted_on}}</p>
            </div>
            <a href="/image/{{image.id}}" class="btn btn-primary">More</a>
          </div>
        </div>
        <br>
      </div>
      {% endfor %}
    {% endif %}

  </div>
</div>
{% endblock content %}
