{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
  </head>
  <body>
    <nav id="bar" class="navbar sticky-top navbar-expand-lg navbar-light">
      <a style="color:gold" href="{% url 'home' %}"class="navbar-brand">G_pyra</a>      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="{% url 'home' %}" class="nav-link" style="color:orange" href=""><i class='fas fa-home'></i> Home</i><span class="sr-only">(current)</span></a></a>
          </li>     
          
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>                                                   
        </ul>
        <ul class="navbar-nav ml-auto">  
          <li>
            <form class="navbar-form" role='search' action="{% url 'searchRes' %}">              
                <input type="text" class="form-control" placeholder="Search Category" name="pics">
                <button type="submit"><i style="color:red" class='fa fa-search'></i></button>              
            </form>  
          </li>                   
        </ul>
      </div>
    </nav>

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock scripts %}
    
  </body>
</html>    

