<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
  </head>
  <body>
    <nav id="bar" class="navbar sticky-top navbar-expand-lg navbar-light">
      <a style="color:gold" href="{% url 'home' %}"class="navbar-brand">G_pyra</a>      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="{% url 'home' %}" class="nav-link"  href=""><i class='fas fa-home'></i> Home</i><span class="sr-only">(current)</span></a></a>
          </li>     
          
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>                 
          <div class="dropdown">
            <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Places <i class="fa fa-angle-double-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h4>Kenya</h4>
              <a class="nav-link" href="/images/Nairobi">Nairobi</a>
              <a class="nav-link" href="/images/Nakuru">Nakuru</a>
              <a class="nav-link" href="/images/Mombasa">Mombasa</a>
              <h4>Zambia</h4>
              <a class="nav-link" href="/images/Kalungu">Kalungu</a>
              <a class="nav-link" href="/images/Ndola">Ndola</a>
              <h4>Tanzania</h4>
              <a class="nav-link" href="/images/Dar-es-Salaam">Dar-es-Salaam</a>
              <a class="nav-link" href="/images/Arusha">Arusha</a>
            </div>
          </div>                                  
        </ul>
        <ul class="navbar-nav ml-auto">  
        
          <form class="form-inline active-purple-3 active-purple-4" role="search" action="{% url 'searchRes' %}">
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search By Category"
              aria-label="Search" name="pics">
            <li class="nav-item">
              <a class="nav-link"></a>
            </li>       

            <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
          </form>
          
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>                          
        </ul>
      </div>
    </nav>        
  </body>
</html>    

