{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">  
      <div card="col-md-4">
        {{block.super}}  
        <div class="alert">
          {% if images %}        
            <h5 class="alert alert-success">Found {{images|length}} result related to <hr> {{message}}</h5>
          {% else %}  
            <h5 class="alert alert-danger">No results<hr> {{message}}</h5>
          {% endif %}
        </div>
      </div> 
      <div class="col-md-8">
        <h2>Images</h2>      
        {% if images %}      
          {% for image in images %}      
            <div class="card" style="width:600px">
              <div class="row">
                <div class="col-md-6">
                  <img onclick="onClick(this)" src="{{image.image_url.url}}" class="img254" id="myImg" style="width:250px;height:250px;" alt="<p> <b>Caption:</b> {{image.image_name}}.<br> <b>Description:</b> {{image.description}}<br> <b>Category:</b> {{image.category}}<br> <b>Location:</b> {{image.location}}<br> <b>Posted on:</b> {{image.posted_on}}</p>"><br>                              
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"><b>Caption:</b> {{image.image_name}}</h5>
                    <p class="card-text"><b>Description:</b> {{image.description}}</p>
                    <div class="card-footer">
                      <p><b>Category:</b> {{image.category}}</p>
                      <p><b>Location:</b> {{image.location}}</p>
                      <p><b>Posted On:</b> {{image.posted_on}}</p>
                      <input style="display:none" type="text" value="https://gallapyra254.herokuapp.com{{image.image_url.url}}" id="myInput">                  
                      <p><a onclick="myFunction()" class="btn btn-outline-primary">Copy</a></p>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div id="modal01" class="modal" onclick="this.style.display='none'">
              <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <div class="modal-content">
                <img id="img01" style="max-width:400px;max-height:500px">               
              </div>
                <div id="card" class="card bg-light">                
                  <div style="float:left" id="description"></div>                
                </div>
            </div>                                                  
            <script>    
              function myFunction() {
                document.getElementById("myInput").style.display = "block";
                var copyText = document.getElementById("myInput");
                copyText.select();
                copyText.setSelectionRange(0, 99999)
                document.execCommand("copy");
                alert("Copied: " + copyText.value);
              }               

              var descriptionText = document.getElementById("description");            
              function onClick(element) {
                document.getElementById("img01").src = element.src;              
                descriptionText.innerHTML = element.alt;
                document.getElementById("modal01").style.display = "block";
              }
            </script>                                   
          {% endfor %}               
        {% else %}        
          <h2 style="float:left;margin-top:100px;margin-right:50%" class="alert alert-danger">No images taken in this area</h2>
        {% endif %}          
      </div>
    </div>
  </div>
{% endblock content %}
             