body{  
  background-image: url("https://images.unsplash.com/photo-1485011062108-85580cbb0d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed; 
  font-family: 'Playfair Display', serif; 
}
/* ***************General styling for cards */
.card{
  box-shadow: 10px 10px black;  
}
h1{
  color: lightblue;  
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-family: 'Kavoon', cursive;
}
h2{
  color: white;  
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
/* *************************side menubar****************************************8 */
#menubar{
  position: fixed;
  bottom: -10px;
  right: 10px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(255, 3, 3);      
  background-color: rgb(255, 255, 255);
  width:50px;
  animation: fadeIn .90s infinite alternate;  
}
#mnbar{  
  animation: bounce 1s infinite alternate;  
  position: fixed;
  bottom: -0px;
  right: 10px;
}
@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-content div:hover{
  color:white;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/************************************ navbar css ************************************/
#bar{
  width: 100%;        
  height: 60px;
  border: 1px solid #222;
  background-color: black;  
  border-radius: 6px;
  transition: height 2s;
  box-shadow: 0 1px 1px rgb(0, 0, 0);

}   
#bar:hover{  
  height:70px;  
}
#bar a{
  cursor:pointer;
  color: rgb(192, 192, 192);
  background-color: rgb(0, 0, 0);
}
#bar a:hover{
  background-color: whitesmoke;  
  color: black;
}      
/* card style */
.cardx{
  margin-left: 80%;
}
.navCate{
  color:  white;
}
.navCate a {
  cursor: pointer;
  width: 200px;
  margin-bottom: 10px;
  color:  white;
}
.navCate a:hover{  
  color: white;
  width: 250px;  
  background-color: black;  
  transition: width 2s;
}


/************************************ flip box css ************************************/
@import url('https://fonts.googleapis.com/css?family=Sarala:700|Exo+2:300');
*,
*:before,
*:after{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  outline: 1px solid transparent;
}
body{
  background-color: whitesmoke;
}
#flipCards.container{
	margin-top: 40px;
}
#flipCards .wrapper{
  width: 250px;
  height: 250px;
  perspective: 800px;
	position: relative;	
}

#flipCards #card{
  width: 250px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  /* cursor: pointer; */
}

#flipCards #card > div{
  position: absolute;
  width: 250px;
  height: 250px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

#flipCards .front{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.63) 0%, rgb(0, 0, 0) 100%);
  transform: rotateY(0deg) translateZ(160px); 
  border-radius: 40px 0px  40px 0;
}

#flipCards .right{ 
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.719) 0%, rgb(0, 0, 0) 100%);
  opacity: 0.08;
  transform: rotateY(90deg) translateZ(130px);
  border-radius: 0 40px 0 40px;
}

#flipCards #card:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

#flipCards #card:hover .front{
  opacity: 0; 
}

#flipCards #card:hover .right{
  opacity: 1; 
}

#flipCards h1{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;  
  font-family: 'Sarala'; 
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px 5px red;
}
#flipCards h2{
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 6px rgb(0, 204, 255);
}

#flipCards p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

#flipCards span{
  margin-left: 13px;
  opacity: .55;
}

#flipCards img{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(21%);
  pointer-events: none;	
  border-radius: 3px 40px 3px 40px;  
}

#flipCards .img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;  
  position: absolute;
  top: 0; right: 0;
  pointer-events: none;
	backface-visibility: hidden;
  margin-top: 100px;
  margin-left: 20px;
}

  @keyframes float{
    0%{
      transform: translateZ(20px);
    }
    100%{
      transform: translateY(-21px) translateX(20px) translateZ(30px);
    }
  }
/* make the image small and slide on the right */
#flipCards #card:hover ~ .img-wrapper img{
  transform: scale(0.6) translateX(77%) translateY(50%);
}

#flipCards ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

#flipCards li{
  padding-bottom: 8px;
  position: relative;
}

#flipCards li:before{  
  
  position: absolute;
  left: -21px;
  opacity: .55;
}
#flipCards #card:hover button{
   transform: scale(1) skewY(0);
}

#flipCards #card:not(:hover) button{
opacity: 0;
}

#flipCards button:hover{
  background-position: left;
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}

/************************************ Modals ************************************/
#myImg{
  margin-left: 10px;
  width: fit-content;
  animation: beat .90s infinite alternate;
}
#cardImg{
  width:250px;
}

@keyframes beat{
	to { transform: scale(0.99); }
}
.img254{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
}
.img254:hover {
  opacity: 0.7;
}
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9);
  }

.modal-content {   
  display: block;
  width: 30vw;
  max-width: 700px;
  height: 20vh;  
}
.close {
  position: absolute;
  margin-top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.modal-content, #card {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;  
}
.modal-content #img01{
  width: fit-content;  
}
#card{
  margin-left: 50%;
  width: 30%;
  height: 40%;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
